body{
  font-size: 1.2em;
  width: 100%;
  letter-spacing: 0.5px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Atma', cursive;
}
h2{
  text-align: center;
}
#container{
  padding: 1.5em;
  background: linear-gradient(-45deg, rgba(220,0,90,0.5), rgba(20,0,230,0.5));
  border-radius: 0;
}
div{
  line-height: 2.5em;
}
input[type="text"]{
  font-size: 1.1em;
  text-align: center;
  border-radius: 3px;
  padding: 7px;
  outline: none;
}
label, input{
  width: 100%;
}
span{
  font-size: 1.5em;
}
hr{
   border: 0;
   border-bottom: 1px dashed #FF8200;
   background: #FF8200;
}
@media (min-width: 700px){
  body{
    width: 60%;
    background: url("https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?auto=format&fit=crop&w=967&q=80") no-repeat center center fixed;
  background-position: center;
  background-size: cover;
    margin-top: 20px;
    text-shadow: 4px 3px 1px rgba(5, 5, 5, 0.82);
  }
  #container{
    border-radius: 10px;
  }
  label, input{
    display: inline-block;
    max-width: 40%;
  }
  div{
    line-height: 4em;
  }
}